{
  title = "Lock Screen";
  items = (
    {
      cell = PSSwitchCell;
      label = "Enabled";
      key = "LSEnabled";
      default = 1;
      defaults = "com.golddavid.colorbanners";
      PostNotification = "com.golddavid.colorbanners/reloadprefs-volatile";
    },

    {
      cell = PSGroupCell;
    },
    {
      cell = PSSwitchCell;
      label = "Use Gradient";
      key = "LSGradient";
      default = 1;
      defaults = "com.golddavid.colorbanners";
      PostNotification = "com.golddavid.colorbanners/reloadprefs";
    },

    {
      cell = PSGroupCell;
      label = "Notification Background Alpha";
    },
    {
      cell = PSSliderCell;
      key = "LSAlpha";
      showValue = 1;
      min = 0;
      max = 1;
      default = 0.7;
      defaults = "com.golddavid.colorbanners";
      PostNotification = "com.golddavid.colorbanners/reloadprefs";
    },

    {
      cell = PSGroupCell;
      footerText = "Remove the notification list's blur.";
    },
    {
      cell = PSSwitchCell;
      label = "Remove Blur";
      key = "RemoveBlur";
      default = 0;
      defaults = "com.golddavid.colorbanners";
      PostNotification = "com.golddavid.colorbanners/reloadprefs";
    }
  );
}
